<!--
  The directive <app-reviews-list> is where the connection between AppComponent and ReviewsListComponent 
  takes place. 

  The directive <app-review-form> is where the ReviewFormComponent
  child passes the information about new review element with $event.
-->

<div class ="container-fluid mb-5">
  <div class="row">
      <div class="col-12" style="align-items: center;">
        <h3> Reviews: </h3>
          <app-reviews-list *ngFor="let review of reviews"[review]="review" [reviews]="reviews"></app-reviews-list>
          <app-review-form (addReview)="onReviewAdded($event)"></app-review-form>
      </div>
  </div>
</div>

